<div class="button-row">
  <button mat-icon-button color="primary">
    <mat-icon class="md-24" aria-label="Create an new type">add_circle</mat-icon>
  </button>
  <button mat-icon-button color="accent">
    <mat-icon class="md-24" aria-label="Change the first selected type">edit</mat-icon>
  </button>
  <button mat-icon-button color="warn">
    <mat-icon class="md-24" aria-label="Remove selected types">remove_circle</mat-icon>
  </button>
</div>

<mat-selection-list #itemtypes>
  <mat-list-option *ngFor="let it of _storage.ItemTypes">
    {{it.Name}} ({{it.ID}})
  </mat-list-option>
</mat-selection-list>

<p>
  Options selected: {{itemtypes.selectedOptions.selected.length}}
</p>

