:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.button-row {
  display: flex;
}

.mat-list {
  margin: 50px;
  flex-grow: 1;
}

.mat-list-item, .mat-list-item:hover {
  text-decoration: none;
}
